@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';
@import '~bootstrap/scss/bootstrap';

/*my css code*/
*, body {
    font-family: "Roboto", Helvetica, Arial, sans-serif;
    font-weight: 400;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    -moz-osx-font-smoothing: grayscale;
    scroll-behavior: smooth;
}
.heading {
  text-align: center;
}
.left {
  text-align: right;
}
.right {
  text-align: left;
}
.product {
  text-align: center;
}
.form-container {
  min-height: 600px !important;
  background: white;
  box-shadow: 5px 5px #ecebebbd;
  margin: 20px auto;
  width: 40% !important;
  padding: 30px;
}
.form-control {
  width: 70% !important;
  border-radius: 5px; 
  margin: 20px auto;
  border: 1px solid #c4c3c3 !important;
  flex: none !important;
}
.input-group {
  width: 55% !important;
  margin: 20px auto;
  flex: none !important;
}
.bg{
  background-color: #f6f6f6;
  min-height: 700px;
}
.submit {
  background: cyan;
  width: 100px;
  height: 40px;
  font-size: 20px;
  border-radius: 10px;
  border: none;
}
.submit:hover {
  border: 1px solid black;
}

/*register form css*/

.form-control {
  font-size: 15px;
}
.form-control, .form-control:focus, .input-group-text {
  border-color: #e1e1e1;
}
.form-control, .btn {        
  border-radius: 3px;
}
.signup-form {
  width: 650px;
  margin: 0 auto;
  padding: 30px 0;    
}
.signup-form form {
  color: #999;
  border-radius: 3px;
  margin-bottom: 10px;
  background: #fff;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
  padding: 10px 30px;
}
.signup-form h2 {
  color: #333;
  font-weight: bold;
  margin-top: 0;
}
.signup-form hr {
  margin: 0 -30px 20px;
}
.signup-form .form-group {
  margin-bottom: 20px;
}
.signup-form label {
  font-weight: normal;
  font-size: 15px;
}
.signup-form .form-control {
  height: 38px;
  box-shadow: none !important;
} 
.signup-form .input-group-addon {
  max-width: 62px;
  text-align: center;
} 
.signup-form .btn, .signup-form .btn:active {        
  font-size: 16px;
  font-weight: bold;
  background: #19aa8d !important;
  border: none;
  min-width: 140px;
}
.signup-form .btn:hover, .signup-form .btn:focus {
  background: #179b81 !important;
}
.signup-form a {
  color: black;  
  text-decoration: none;
}
.signup-form a:hover {
  text-decoration: none;
  color: #19aa8d;
}
.signup-form form a {
  color: #19aa8d;
  text-decoration: none;
} 
.signup-form form a:hover {
  text-decoration: underline;
}
.signup-form .fa {
  font-size: 21px;
}
.signup-form .fa-paper-plane {
  font-size: 18px;
}
.signup-form .fa-check {
  color: #fff;
  left: 17px;
  top: 18px;
  font-size: 7px;
  position: absolute;
}
/*end register form css*/

/*login form css*/
.wrapper {
  display: flex;
  align-items: center;
  flex-direction: column; 
  justify-content: center;
  width: 100%;
  min-height: 100%;
  padding: 20px;
  margin-top: -70px;
}
.login-wrap {
  margin-top: 30px !important;
}
.register-wrap {
  margin-top: 0 !important;
}

#formContent {
  -webkit-border-radius: 10px 10px 10px 10px;
  border-radius: 10px 10px 10px 10px;
  background: #fff;
  padding: 30px;
  width: 90%;
  max-width: 450px;
  position: relative;
  padding: 0px;
  -webkit-box-shadow: 0 30px 60px 0 rgba(0,0,0,0.3);
  box-shadow: 0 30px 60px 0 rgba(0,0,0,0.3);
  text-align: center;
}

#formFooter {
  background-color: #f6f6f6;
  border-top: 1px solid #dce8f1;
  padding: 25px;
  text-align: center;
  -webkit-border-radius: 0 0 10px 10px;
  border-radius: 0 0 10px 10px;
}

/* TABS */

h2.inactive {
  color: #cccccc;
}

h2.active {
  color: #0d0d0d;
  border-bottom: 2px solid #5fbae9;
}

/* FORM TYPOGRAPHY*/

input[type=button], input[type=submit], input[type=reset]  {
  background-color: #179b81;
  border: none;
  color: white;
  padding: 15px 80px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  text-transform: uppercase;
  font-size: 13px;
  -webkit-box-shadow: 0 10px 30px 0 rgba(95,186,233,0.4);
  box-shadow: 0 10px 30px 0 rgba(95,186,233,0.4);
  -webkit-border-radius: 5px 5px 5px 5px;
  border-radius: 5px 5px 5px 5px;
  margin: 5px 20px 40px 20px;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.sub-btn {
  background-color: #179b81 !important;
  border: none !important;
  color: white !important;
  padding: 15px 80px !important;
  text-align: center !important;
  text-decoration: none !important;
  display: inline-block !important;
  text-transform: uppercase !important;
  font-size: 13px !important;
  -webkit-box-shadow: 0 10px 30px 0 rgba(95,186,233,0.4) !important;
  box-shadow: 0 10px 30px 0 rgba(95,186,233,0.4) !important;
  -webkit-border-radius: 5px 5px 5px 5px !important;
  border-radius: 5px 5px 5px 5px !important;
  margin: 5px 20px 40px 20px !important;
  -webkit-transition: all 0.3s ease-in-out !important;
  -moz-transition: all 0.3s ease-in-out !important;
  -ms-transition: all 0.3s ease-in-out !important;
  -o-transition: all 0.3s ease-in-out !important;
  transition: all 0.3s ease-in-out !important;
}
.sub-btn:hover {
  background-color: #19aa8d !important;
}
.sub-btn:active {
  -moz-transform: scale(0.95) !important;
  -webkit-transform: scale(0.95) !important;
  -o-transform: scale(0.95) !important;
  -ms-transform: scale(0.95) !important;
  transform: scale(0.95) !important;
}
input[type=button]:hover, input[type=submit]:hover, input[type=reset]:hover  {
  background-color: #19aa8d;
}

input[type=button]:active, input[type=submit]:active, input[type=reset]:active  {
  -moz-transform: scale(0.95);
  -webkit-transform: scale(0.95);
  -o-transform: scale(0.95);
  -ms-transform: scale(0.95);
  transform: scale(0.95);
}

input[type=text], input[type=password] {
  background-color: #f6f6f6;
  border: none;
  color: #0d0d0d;
  padding: 10px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 20px;
  width: 85%;
  border: 2px solid #f6f6f6;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -ms-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  -webkit-border-radius: 5px 5px 5px 5px;
  border-radius: 5px 5px 5px 5px;
}

input[type=text]:focus {
  background-color: #fff;
  border-bottom: 2px solid #5fbae9;
}

input[type=text]:placeholder {
  color: #cccccc;
}

/* ANIMATIONS */

/* Simple CSS3 Fade-in-down Animation */
.fadeInDown {
  -webkit-animation-name: fadeInDown;
  animation-name: fadeInDown;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

@-webkit-keyframes fadeInDown {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
  }
  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

@keyframes fadeInDown {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
  }
  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

/* Simple CSS3 Fade-in Animation */
@-webkit-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@-moz-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@keyframes fadeIn { from { opacity:0; } to { opacity:1; } }

.fadeIn {
  opacity:0;
  -webkit-animation:fadeIn ease-in 1;
  -moz-animation:fadeIn ease-in 1;
  animation:fadeIn ease-in 1;

  -webkit-animation-fill-mode:forwards;
  -moz-animation-fill-mode:forwards;
  animation-fill-mode:forwards;

  -webkit-animation-duration:1s;
  -moz-animation-duration:1s;
  animation-duration:1s;
}

.fadeIn.first {
  -webkit-animation-delay: 0.4s;
  -moz-animation-delay: 0.4s;
  animation-delay: 0.4s;
}

.fadeIn.second {
  -webkit-animation-delay: 0.6s;
  -moz-animation-delay: 0.6s;
  animation-delay: 0.6s;
}

.fadeIn.third {
  -webkit-animation-delay: 0.8s;
  -moz-animation-delay: 0.8s;
  animation-delay: 0.8s;
}

.fadeIn.fourth {
  -webkit-animation-delay: 1s;
  -moz-animation-delay: 1s;
  animation-delay: 1s;
}

/* Simple CSS3 Fade-in Animation */
.underlineHover {
  color: black;
  text-decoration: none;
}
.underlineHover:after {
  display: block;
  left: 0;
  bottom: -10px;
  width: 0;
  height: 2px;
  background-color: #19aa8d;
  content: "";
  transition: width 0.2s;
}

.underlineHover:hover {
  color: #19aa8d;
}

.underlineHover:hover:after{
  width: 50%;
  margin: 0 auto;
}
/*end login form css*/

/*add product css*/
.product .product-select {
  display: block;
  width: 40%;
  padding: 0.3rem 1rem 0.3rem 0.5rem;
  font-size: 0.9rem;
  font-weight: 400;
  line-height: 1.6;
  color: #212529;
  background-color: #f8fafc;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
}
.product .input-group-text {
  width: 50%;
}
.product .form-control {
  width: 85% !important;
  margin: 5px auto;
}
.product .form_group {
  margin-left: 30px !important;
}
/*end add product css*/

/*paginate css*/
.w-5 {
  width: 20px;
}
.item-centre {
  margin-bottom: 35px !important;
}
.left{
  float: left;
}
.right {
  float: right;
}
.sub-heading{
  margin-top: 70px;
}

/*end paginate css*/
.table-border {
  border: 1px solid #cfcccc;
}

.link {
  color: rgba(255, 255, 255, 0.55);
  display: block;
  padding: 0.5rem 1rem;
  text-decoration: none;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, 
    border-color 0.15s ease-in-out;
}
.link:hover {
  color: rgba(255, 255, 255, 0.77);
}

.table-img {
  width: 100px; 
  height: 100px;
}

.alert {
  color: #1c8d18;;
  width: 500px;
  background-color: #b0fa94;
  margin: 0px auto 15px auto !important;
}

.sort a{
  color: white;
  text-decoration: none;
}

/*newsletter css*/
#newsletter {
    background: #212529;
    padding: 50px 0px;
    text-align: center;
    color: #fff;
    margin-top: 70px;
}
#newsletter h3 {
    font-size: 36px;
    font-weight: 400;
    color: #fff;
}
#newsletter p {
    font-size: 15px;
    font-style: italic;
    padding: 0px;
    margin: 25px 0px 40px;
}
#newsletter form {
    background: #fff;
    padding: 6px 10px;
    position: relative;
    border-radius: 50px;
    box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
    text-align: left;
}
#newsletter form input[type="email"] {
    border: 0;
    padding: 4px 8px;
    width: calc(100% - 100px);
}
#newsletter form input[type="submit"] {
    position: absolute;
    top: 0;
    right: -1px;
    bottom: 0;
    border: 0;
    height: 35px;
    background: none;
    font-size: 16px;
    padding: 0 20px;
    background: #19aa8d;
    color: #fff;
    border: 2px solid #fff;
    border-radius: 50px;
    box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.1);
}
#newsletter form input[type="submit"]:hover {
    opacity: 0.9;
    border: 0;
}

.error {
  margin-top: 5px;
  color: red;
}
.success {
  margin-top: 5px;
  color: green;
}
/*end newsletter  css */

/*search bar css*/
.search {
  width: 100%;
  display: flex;
}

.searchTerm {
  width: 120%;
  border: 3px solid #19aa8d;
  padding: 5px;
  height: 20px;
  border-radius: 5px;
  outline: none;
  color: #19aa8d !important;
  margin: 0 0 40px 0 !important;
  height: 37px;
  background-color: #c5c5c5 !important;
}

.searchTerm:focus{
  color: #00B4CC;
}

.searchButton {
  width: 50px;
  height: 36px;
  border: none;
  background: #19aa8d;
  text-align: center;
  color: #fff;
  border-radius: 5px;
  cursor: pointer;
  font-size: 20px;
}

.searchButton svg {
  height: 30px;
}

/*Resize the wrap to see the search bar change!*/
.wrap{
  width: 30%;
}
/*end search bar css*/

.form-link {
  text-decoration: none;
  background: #19aa8d;
  padding: 10px;
  color: #ffff !important;
  border-radius: 10px;
  float: right;
  margin-top: -85px;
}
.form-link:hover {
  opacity: 0.9;
}

/*user profile css*/
.title-pen {
  color: #333;
  font-family: "Coda", sans-serif;
  text-align: center;
  margin: 30px auto;
}
.user-profile {
  margin: auto;
  width: 32em; 
  height: 11em;
  background: #fff;
  border-radius: .3em;
}

.user-profile  .username {
  margin: auto;
  margin-top: -4em;
  margin-left: 8.80em;
  color: #658585;
  font-size: 1.53em;
  font-family: "Coda", sans-serif;
  font-weight: bold;
}
.user-profile > .description {
  margin: auto;
  margin-top: 1.35em;
  margin-right: 4.43em;
  width: 17em;
  color: #c0c5c5; 
  font-size: .87em;
  font-family: "varela round", sans-serif;
}
.user-profile > img.avatar {
  padding: .7em;
  margin-left: .3em;
  margin-top: .3em;
  height: 9.23em;
  width: 9.23em;
  border-radius: 18em;
}

.user-profile ul.data {
  margin: 2em auto;
  height: 3.70em;
  background: #4eb6b6;
  text-align: center;
  border-radius: 0 0 .3em .3em;
}
.user-profile li {
  margin: 0 auto;
  padding: 1.30em; 
  width: 33.33334%;
  display: table-cell;
  text-align: center;
}

.user-profile span {
  font-family: "varela round", sans-serif;
  color: #e3eeee;
  white-space: nowrap;
  font-size: 1.27em;
  font-weight: bold;
}
/*end user profile css*/

#myBtn {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  font-size: 18px;
  border: none;
  outline: none;
  background-color: #19aa8d;
  color: white;
  cursor: pointer;
  padding: 5px;
  border-radius: 50%;
}

#myBtn:hover {
  opacity: 0.8;
}

#myBtn svg {
  color: white;
  height: 40px;
}

.line {
  margin: 0;
  width: 88px;
}

.validation {
  color: #0d9d44;
}
.validation p {
  margin-bottom: 0px !important;
}
/*end my css code*/