/*@import './bootstrap/css/bootstrap.css'*/
@import "~bootstrap/dist/css/bootstrap.css";
*, body {
    font-family: "Roboto", Helvetica, Arial, sans-serif;
    font-weight: 400;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    -moz-osx-font-smoothing: grayscale;
}
.heading {
	text-align: center;
}
.left {
	text-align: right;
}
.right {
	text-align: left;
}
.product {
	text-align: center;
}
.form-container {
	min-height: 600px;
	background: white;
    box-shadow: 5px 5px #ecebebbd;
	margin: 20px auto;
	width: 40%;
	text-align: center;
	padding: 30px;
}
.form-control {
	width: 60%;
	border-radius: 5px; 
	margin: 20px auto;
}
.input-group {
	width: 45%;
	margin: 0 auto;
}
.bg{
	background-color: #f6f6f6;
}
.submit {
	background: cyan;
    width: 20%;
    border-radius: 10px;
    border: none;
}
.submit:hover {
	border: 1px solid black;
}